* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
    color: yellow;      
}

ul {
    list-style: none;
    font-size: 20px;
  }

a {
    text-decoration: none;
    font-weight: 1000;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  header {
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    border-bottom: 15px ridge yellow;
  }

  header ul {
    display: flex;    
  }

  header ul li {
    padding: 5px;
  }

  header ul li a {
 transition: 400ms;
  }

  header ul li a:hover {
    color: #c0a717;
    text-decoration: underline;
  }

  header h2 {
    font-size: 50px;
  }

  body {
    height: 100vh;    
  }

.logoPagina {
      width: 100px;
      height: 100px;

  } 

  main {
    display: flex;
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    
    }

  .container {  
      text-align: center;   
  }

  .container .name h1 {
      font-size: 60px;
  }

  .container .name h5 {
    font-size: 25px;
    max-width: 1000px;
    margin: 0 auto;
}

#arrow {
  font-size: 35px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

#animation {
  transition: 400ms;
}

.rotate {
  transform: rotate(180deg);
  transition: 400ms;
}

.active {
  display: block !important;
}

#about p {
  max-width: 800px;
  margin: 0 auto;
}

.form {
  width: 40%;
  margin: 0 auto;
  border: thick double yellow ;
  margin-top: 10px;
  padding: 25px;
}

.form input {
  width: 50%;
  padding: 5px;
  border:none;
  margin: 0 auto;
  color: black;
}
.form p{
  margin: 20px;
}

.form button {
  width: 20%;
  padding: 5px ;
  background-color: #c0a717;
  color: #464646;
  font-weight: 700;
  border: none;
  cursor: pointer; 
  transition: 400ms;
}

.form button:hover {
  background-color: rgb(138, 138, 11);
  color: white;
}
